/* 
* Author: wendybovill 
* Author Github: https: //github.com/wendybovill
* Author Email: wendybovill@gmail.com
*/

/* The first part of this file is SCSS */

/* variables */

$grey: #585858;
$teal: #00505c;
$darkteal: #003f49;
$transparent-bk: rgba(255,255,255,0.35);
$bright: #ffffff;
$gold: #b7af8c;
$lightgrey: #767676;
$lightgold: #b7af8c50;
$darkgrey: #444444;
$smokeblue: rgba(20, 67, 108, 0.5);
$plaingrey: rgba(88, 88, 88, 0.5);
$lightteal: rgba(0, 80, 92, 0.5);
$lightblue: rgba(34, 85, 129, 0.49);
$lightbeige: rgba(129, 122, 34, 0.24);
$lighterteal:rgba(0, 80, 92, 0.5);
$blue: #14436c;


$basefont: 14pt;
$typeface: Verdana, Geneva, Tahoma, sans-serif;


/* animations */

@keyframes heroIncrease {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

@keyframes flyIn {
    from { transform : translateX(-100%) }
    17%  { transform : translateX(-90%) }
    20%  { transform : translateX(-80%) }
    37%  { transform : translateX(-70%) }
    40%  { transform : translateX(-60%) }
    57%  { transform : translateX(-50%) }
    60%  { transform : translateX(-40%) }
    77%  { transform : translateX(-30%) }
    80%  { transform : translateX(-20%) }
    97%  { transform : translateX(-10%) }
    to   { transform : translateX(0%) }
}

/* mixins */

@mixin backblur($bkcolor: rgba(255, 255, 255, 0.15)) {
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: $bkcolor;
    color: $bright
  }

@mixin small-ibox {
    height: 80px;
    width: 80px;
    display: inline-block;
    padding:10px;
    margin:10px;
    }

@mixin medium-ibox {
    height: 100px;
    width: 100px;
    display: inline-block;
    padding:10px;
    margin:10px;
    }

@mixin large-ibox {
    height: 140px;
    width: 140px;
    display: inline-block;
    padding:20px;
    margin:20px;
    }

@mixin larger-ibox {
    height: 180px;
    width: 180px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

@mixin hero-large {
    height:350px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
    animation: heroIncrease 60s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@mixin hero-medium {
    height:250px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
    animation: heroIncrease 60s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@mixin hero-small {
    height:150px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
    animation: heroIncrease 60s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


/* ______ This is the main section of the website styles ______ */

*, ::after, ::before {
    box-sizing: unset!important;
}

#main {
    top:0;
    left:0;
    width:100%;
    bottom:0;
    right:0;
    box-sizing:border-box;
    margin:0;
    height: calc(100% - 60px);
    display:block;
    position:absolute;
}

.container {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
    }

.container-fluid {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
    }

html, body {
    font-family: $typeface;
    margin:0;
    padding:0;
    height:100%;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    font-stretch: expanded 1.1;
}

.entry-title h1 {
    color: $teal;
    padding: 0;
    margin: 0 5px;
    padding: 25px 10px 15px 25px;
    font-family: Gill Sans;
    font-weight: 600;
}

h1 {
    color: $darkteal;
    margin: 0 5px;
    padding: 0;
    padding: 25px 10px 15px 25px;
}

h2 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
    padding: 25px 10px 15px 25px;
}

h3 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
    padding: 25px 10px 15px 25px;
}

h4 {
    color: $darkteal;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em;
    padding: 25px 10px 15px 25px;
}

h5 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em
}

h6 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em;
}



p {
    text-align: justify;
    font-size: 12;
    font-weight: 400;
    padding: 5px 25px;
}

p.bright {
    color:$bright;
    padding: 5px 25px;
}

p.entry-paragraph {
    padding: 25px 25px 15px 25px;
}

a {
    color: $teal;
}

a:hover {
    color: $grey;
}

/* This is the header and navigation section of the website styles */

header {
    height: 295px;
    background: linear-gradient(#c1e2ff 0%, #fff 11.33%, #fff 27.84%, #ffffd5 78.33%, #fdf991 83.25%, #f2d32a 84.24%, #cbbe73 88.67%, #a3dfff 96.06%, #007f9d 97.54%, #005226 100%);
    border: 1px solid #707070;
    vertical-align: bottom;
    position: relative;
}


.logo {
    float:left;
    height: 75px;
    width: auto;
    padding: 5px;
}

/* Menu and Navigation Section */

.menu div {
    float: right;
    height: 40px;
    vertical-align: bottom;
}

.menu::after, .menu::before {
    box-sizing: unset!important;
    }

nav {
    min-width: 70px;
    width: auto;
    right: 0;
    vertical-align: bottom;
    text-align: center;
    align-items: baseline;
    height: 16px;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    font-size: 15pt;
    padding: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav a{
    padding: 15px 15px;
    text-decoration:none;
    color: $grey;
}

nav::after, nav::before {
    box-sizing: unset!important;
    }

nav a:hover{
    padding: 15px 15px;
    text-decoration:none;
    color: $teal;
    background-color:$transparent-bk;
}

nav a:active, .active {
    padding: 15px 15px;
    text-decoration:none;
    color: $teal;
}

nav a:active:hover, .active:hover {
    padding: 15px 15px;
    text-decoration:none;
    color: $darkteal;
    background-color:$transparent-bk;
}

/* Hero Image Section */

.hero {
    height: 200px;
    display:block;
    position: relative;
}

#hero-text-position {
    vertical-align:bottom;
    padding-bottom: 20px;
    padding-top:180px;
    max-width:75%;
}

.hero-title div, .hero-title h1{
    height: 47px;
    background-color: $transparent-bk;
    animation: flyIn 50s;
    animation-delay: 15s;
}

.hero-title h1 {
    color: $blue;
    font-size: 1.2;
    font-family: Gill Sans;
    font-style: italic;
    padding: 15px 15px  15px 50px;
}


.hero_image1 {
    background: url(/assets/images/hero-image1.jpg);
    @include hero-large();
}

.hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
}

.hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
}

.hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
}

.hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
}

/* _____________________ Main Content Section ___________________  */

/* Home Page */

.intro-box {
@include larger-ibox();
color:$bright;
font-weight:900;
font-size:14pt;
display: inline-block;
}

.box1 {
    background-color: $gold;
}

.box2 {
    background-color: $smokeblue;
}

.box3 {
    background-color: $lightgrey;
}

.box4 {
    background-color: $lighterteal;
}

.content-box {
    min-height: 150px;
    max-height: 250px;
    min-width: 150px;
    max-width: 250px;
    margin: 0;
    padding: 25px;
}

section {
    min-height: 150px;
    height: auto;
    padding: 0;
    margin: 0;
    width:100%;
}

#index_one {
    background-color: $bright;
    vertical-align: middle;
    width:100%;
}

#index_two {
    background-color: $lightblue;
    vertical-align: middle;
    width:100%;
}

#index_three {
    background-color: $lightbeige;
    width:100%;

}

#index_four {
    background-color: $lighterteal;
    width:100%;
}


/* _______ This is the footer section ________ */

footer {
    clear: both;
    height: 60px;
    padding: 5px 0 0 0;
    border-top: 1px solid black;
    box-shadow: rgba(0,0,0,20) 2px 0px 3px;
    background-color: #b7af8c;
    color: #363545;
    font-weight: 700;
    font-size: 0.75em;
    width:100%;
    left:0;
    position:absolute;
    bottom:0;
    display:block;
}

/* Contact us section */



/* ____________ This is the media query section ____________ */

/* Extra large devices */
@media (min-width: 1200px) and (max-width: 1920px) { 
    .container {
        width:100%;
        max-width: 1920px;
    }
    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-large();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
    }
    
    .hero_image3 {
         background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
    }
 }

 /* Large devices */
@media (min-width:992px) and (max-width: 1200px) {    

    .container {
        width:100%;
        max-width: 1200px;
    }
     
    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-large();
}

    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
    }

    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
    }

    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
    }

    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
    }

    p {
        font-size: 1rem;
    }
 }

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) { 

    .container {
        width:100%;
        max-width: 991px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-medium();
    }
 }

/* Small devices */
@media (min-width: 378px) and (max-width: 767px){

    .menu div {
        float: none!important;
        clear: both;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
    }

    #menu_section {
        text-align: center;
    }

    .container {
        width:100%;
        max-width: 767px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-medium();
    }

    nav {
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 16px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 11pt;
        padding: 20px;
        white-space: nowrap;
        font-weight: 700;
    }

    nav a {
        padding: 15px 10px;
        text-decoration: none;
        color: $grey;
    }

    nav::after,
    nav::before {
        box-sizing: unset !important;
    }

    nav a:hover {
        padding: 15px 10px;
        text-decoration: none;
        color: $teal;
        background-color: $transparent-bk;
    }

    nav a:active,
    .active {
        padding: 15px 10px;
        text-decoration: none;
        color: $teal;
    }

    nav a:active:hover,
    .active:hover {
        padding: 15px 10px;
        text-decoration: none;
        color: $darkteal;
        background-color: $transparent-bk;
    }

    .logo {
        float: none !important;
        clear:both;
        height: 55px;
        width: auto;
        padding: 5px;
    }

    /* content styles */

    h1 {
        color: $darkteal;
        padding: 0;
        margin: 0 5px;
        font-size: 0.95em;
    }

    h2 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h3 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h4 {
        color: $darkteal;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h5 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.90em;
    }

    h6 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.90em;
    }
}

/* Extra Small devices */
@media (min-width: 150px) and (max-width: 377px){

    .menu div {
        float: none;
        clear: both;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
    }

    #menu_section {
        text-align: center;
    }

    nav {
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 16px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 11pt;
        font-weight:700;
        padding: 20px;
        white-space: nowrap;
    }

    nav a {
        padding: 15px 10px;
        text-decoration: none;
        color: $grey;
    }

    nav::after,
    nav::before {
        box-sizing: unset !important;
    }

    nav a:hover {
        padding: 15px 10px;
        text-decoration: none;
        color: $teal;
        background-color: $transparent-bk;
    }

    nav a:active,
    .active {
        padding: 15px 10px;
        text-decoration: none;
        color: $teal;
    }

    nav a:active:hover,
    .active:hover {
        padding: 15px 10px;
        text-decoration: none;
        color: $darkteal;
        background-color: $transparent-bk;
    }

    .logo {
        float: none !important;
        clear:both;
        height: 55px;
        width: auto;
        padding: 5px;
    }

    .container {
        width:100%;
        max-width: 377px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-small();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-small();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-small();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-small();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-small();
    }

    /* content styles */

    h1 {
        color: $darkteal;
        padding: 0;
        margin: 0 5px;
        font-size: 0.95em;
    }

    h2 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h3 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h4 {
        color: $darkteal;
        margin: 0 5px;
        padding: 0;
        font-size: 0.95em;
    }

    h5 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.90em;
    }

    h6 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.90em;
    }
}
