// 
// Author: wendybovill 
// Author Github: https: //github.com/wendybovill
// Author Email: wendybovill@gmail.com
//


/* The first part of this file is SCSS */

/* variables */

$grey: #585858;
$teal: #025a67;
$darkteal: #003f49;
$transparent-bk: rgba(255,255,255,0.50);
$bright: #ffffff;
$gold: #b7af8c;
$lightgrey: #919191;
$lightergrey: #696d6e41;
$lightgold: #b7af8c50;
$darkgrey: #444444;
$smokeblue: rgba(20, 67, 108, 0.5);
$plaingrey: rgba(88, 88, 88, 0.5);
$lightteal: rgba(0, 80, 92, 0.5);
$lightblue: rgba(34, 85, 129, 0.49);
$lightbeige: rgba(129, 122, 34, 0.24);
$lighterteal:rgba(0, 80, 92, 0.5);
$blue: #14436c;
$darkblue: #00284b;
$footercolor: rgb(121, 119, 92);
$lightestblue: rgba(211, 238, 250, 1);

$basefontsize: 12pt;
$typeface: Verdana, Geneva, Tahoma, sans-serif;
$specialfont: Gill Sans;
$baseIfasize: 8rem;


/* animations */

@keyframes heroShrink {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
}

@keyframes flyIn {
    from { transform : translateX(-100%) };

    to   { transform : translateX(0%) };
}

/* **** */

@mixin basefont {
        font-size: $basefontsize;
        font-family: $typeface;
        color: $grey;
    
}

@mixin ifa-icon {
    font-size: $baseIfasize;
    color: $bright;
    padding-bottom: 10px;
}

@mixin ifa-icon-hover {
    font-size: $baseIfasize;
    color: $darkgrey;
    padding-bottom: 10px;
}

@mixin heroImage { 
    /* animate the hero background image */
    animation: heroShrink 10s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@mixin backblur($bkcolor: rgba(255, 255, 255, 0.15)) {
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: $bkcolor;
    color: $bright
}

@mixin small-ibox {
    height: 80px;
    width: 80px;
    display: inline-block;
    padding:10px;
    margin:10px;
}

@mixin medium-ibox {
    height: 100px;
    width: 100px;
    display: inline-block;
    padding:10px;
    margin:10px;
}

@mixin large-ibox {
    height: 140px;
    width: 140px;
    display: inline-block;
    padding:20px;
    margin:20px;
}

@mixin larger-ibox {
    height: 180px;
    width: 180px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

@mixin hero-large {
    height:400px;
    width:auto;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin hero-medium {
    height:250px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

@mixin hero-small {
    height:150px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

@mixin blueoverlay {
    width: 100%;
    background-color: $smokeblue;
    z-index: 3010;
    border:none;
}

@mixin tealoverlay {
    width: 100%;
    background-color: $lightteal;
    z-index: 3010;
    border:none;
}

@mixin lightblueoverlay {
    width: 100%;
    background-color: $lightblue;
    z-index: 3010;
    border:none;
}

@mixin beigeoverlay {
    width: 100%;
    background-color: $lightbeige;
    z-index: 3010;
    border:none;
}

@mixin sectionimagebox {
    background-size: cover;
    background-position: center;
    padding-left:0!important;
    min-height: 200px;
    z-index: 3000;
    opacity: 50%;
    overflow:hidden;
    height: 50vw; //This is set to half the viewers width to keep it a perfect square! Do not change!
    border: none;
}

@mixin sectionimageboxdarkfull {
    background-size: cover;
    background-position: center;
    padding-left:0!important;
    min-height: 200px;
    z-index: 3000;
    opacity: 100%; //removed opacity
    overflow:hidden;
    height: 100vw; //This is set to full viewers width! Do not change!
    border: none;
}

@mixin sectionimageboxfull {
    background-size: cover;
    background-position: center;
    padding-left:0!important;
    min-height: 200px;
    z-index: 3000;
    opacity: 50%;
    overflow:hidden;
    border: none;
}

/* ______ This is the main section of the website styles ______ */

*, ::after, ::before {
    box-sizing: unset!important;
}

#main {
    top:0;
    left:0;
    width:100%;
    bottom:0;
    right:0;
    box-sizing:border-box;
    margin:0;
    height: calc(100% - 60px);
    display:block;
    position:absolute;
    padding:0;
}

.container {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
}

.container-fluid {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
 }

html, body {
    @include basefont();
    margin:0;
    padding:0;
    height:100%;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    font-stretch: expanded 1.025;
}

.entry-title h1 {
    color: $teal;
    padding: 0;
    margin: 0 5px;
    padding: 35px 10px 15px 30px;
    font-family: $specialfont;
    font-weight: 500;
    font-size: 1rem;
}

h1 {
    color: $teal;
    margin: 0 5px;
    padding: 0;
    padding: 50px 10px 15px 50px;
}

h2 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
    padding: 50px 10px 15px 50px;
}

h3 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
    padding: 50px 10px 15px 50px;
}

h4 {
    color: $darkteal;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em;
    padding: 50px 10px 15px 50px;
}

h5 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em
}

h6 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90em;
}

p {
    font-size: 12pt;
    font-weight: 400;
    padding: 5px 50px;
}

p.bright {
    color:$bright;
}

p.entry-paragraph {
    padding: 35px 40px;
}

a {
    color: $teal;
}

a:hover {
    color: $grey;
}

/* This is the header and navigation section of the website styles 
The header and nav section is repeated on each page, but the active link changes on the html pages classes
*/

// header section
header {
    height: 150px;
    background: linear-gradient(#c1e2ff 0%, #fff 11.33%, #fff 73.68%, #ffffd5 90.24%, #fdf991 92.16%, #f2d32a 93.99%, #cbbe73 95.65%, #a3dfff 97.96%, #007f9d 98.76%, #005226 100%);
    border: 1px solid #707070;
    vertical-align: bottom;
    position: relative;
    z-index: 9999;
}


.logo {
    float: left;
    padding: 15px;
}

.logo img {
    height: 120px;
    width: auto;
    z-index: 999999;
}

/* Menu and Navigation Section */

.menu div {
    float: right;
    height: 20px;
    vertical-align: bottom;
}

.menu::after, .menu::before {
    box-sizing: unset!important;
}

//navigation section
#navigation {
    min-width: 70px;
    width: 100%;
    right: 0;
    vertical-align: bottom;
    text-align: right;
    align-items: baseline;
    height: 19px;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    font-size: 15pt;
    padding: 19px 0;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#navigation a{
    padding: 5px 15px;
    text-decoration:none;
    color: $grey;
    display:inline-block;
}

#navigation::after, nav::before {
    box-sizing: unset!important;
 }

 #navigation a:hover{
    padding: 5px 15px;
    text-decoration:none;
    color: $teal;
    background-color: $transparent-bk;
}

#navigation a.active {
    padding: 5px 15px;
    text-decoration:none;
    color: $teal;
    background-color: $lightgold;
}

#navigation a.active:hover {
    padding: 5px 15px;
    text-decoration:none;
    color: $darkteal;
    background-color: $lightergrey;
}

/* Hero Image Section repeated on each page, the images change per page */
.hero {
    display:block;
    position: relative;
    z-index: 0;
}

#hero {
    height: 400px;
    overflow: hidden;
    overflow: clip; /* required */
    overflow-clip-margin: 0px;
}

#hero-text-position {
    vertical-align:bottom;
    padding-bottom: 20px;
    padding-top:250px;
    max-width:75%;
}

.hero-title div, .hero-title h1{
    height: 47px;
    background-color: $transparent-bk;
    animation: flyIn 3s;
    animation-delay: 1s;
    backdrop-filter: blur(15px);
    --webkit-backdrop-filter: blur(15px);
}

.hero-title h1 {
    color: $darkblue;
    font-size: 1.8rem;
    font-family: Gill Sans;
    font-style: italic;
    padding: 15px 15px  15px 50px;
    margin:20px;
    //this next code is modified by myself here but originally taken from a text shadow generator at https://html-css-js.com/css/generator/text-shadow/
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
}

.hero_image1 {
    background: url(../images/hero-image1.jpg);
    @include hero-large();
    @include heroImage();
}

.hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-large();
        @include heroImage();
}

.hero_image3 {
        background: url(../images/hero-image3.jpg);
        @include hero-large();
        @include heroImage();
}

.hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-large();
        @include heroImage();
}

.hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-large();
        @include heroImage();
}

/* _____________________ Main Content Section ___________________  */

/* Home Page */

.intro-box {
    @include larger-ibox();
    }

.intro-box i {
    @include ifa-icon();
    }

.intro-box i:hover {
    @include ifa-icon-hover();
    }

.box1 {
    background-color: $gold;
    color: $bright;
}

.box2 {
    background-color: $smokeblue;
    color: $bright;
}

.box3 {
    background-color: $lightgrey;
    color: $bright;
}

.box4 {
    background-color: $lighterteal;
    color: $bright;
}

.content-box {
    min-height: 150px;
    max-height: 250px;
    min-width: 150px;
    max-width: 250px;
    margin: 0;
    padding: 25px;
}

section {
    min-height: 150px;
    height: auto;
    padding: 0;
    margin: 0;
    width:100%;
    border:none;
}

//sections one to four are on the first page
#section_one {
    background-color: $bright;
    vertical-align: middle;
    width:100%;
    padding-left:0!important;

}

#iconboxes { //These are the boxes on the first page in the welcome section
    text-align:center;
    vertical-align:baseline;
    padding-bottom:50px;
 }

#section_two {
    color: $bright;
    vertical-align: middle;
    width:100%;
    padding-left:0!important;
    min-height: 200px;
    @include lightblueoverlay;
}

#section_two_image {
    background: url(../images/content-box-image1.jpg);
    @include sectionimagebox();
}

.section_two_overlay {
    @include lightblueoverlay();
 }

#section_two_text {
    z-index: 3050;
    display:inline;
    padding: 2% 2.5%;
    align-content: space-around;
    text-align:center;
}

#section_three {
    vertical-align: middle;
    width:100%;
    padding-left:0!important;
    min-height: 200px;
    @include beigeoverlay();
}

#section_three_image {
    background: url(../images/content-box-image2.jpg);
    @include sectionimagebox();
}

.section_three_overlay {
    @include beigeoverlay();
}

#section_three_text {
    z-index: 3050;
    display:inline;
}

#section_four {
    color: $bright;
    vertical-align: middle;
    width:100%;
    padding-left:0!important;
    min-height: 200px;
    @include tealoverlay();
}

#section_four_image {
    background: url(../images/content-box-image3.jpg);
    @include sectionimagebox();
}

#section_three_text {
    z-index: 3050;
    display:inline;
}

// About us page section

#section_about {
    display: block;
    color: $bright;
    width:100%;
}

#about_centered {
    padding: 25px 12.5% 25px 12.5%!important;   
}

.section_about_image {
    background: url(../images/anxiety-image-blue.jpg);
    @include sectionimageboxdarkfull();
    height: unset!important;
}

#section_about_text {
    z-index: 3050;
    display:inline;
}

h2.section_about_text {
    padding:0px 5px 0 5px;
    text-align: center;
}

#section_chart {
    display: block;
    color: $darkgrey;
    width:100%;
}

#chart_centered {
    padding: 25px 12.5% 25px 12.5%!important;   
}

#section_chart_text {
    z-index: 3050;
    display:inline;
}

h3.section_chart_text {
    padding:0px 5px 0 5px;
    text-align: center;
}

div.caption {
    color: $darkgrey;
    font-size: 1rem;
    line-height: 3;
    text-align: center;
    width:90%;
    font-weight:600;
}

div.reference {
    color: $darkgrey;
    font-size: 0.70rem;
    line-height: 1;
    text-align: left;
    width:100%;
    font-weight:300;
    padding: 30px 10px 10px 10px;
}

#section_more {
    display: block;
    color: $bright;
    width:100%;
}

.more_centered {
    padding: 25px 12.5% 25px 12.5%!important;   
}

.section_more_image {
    background: url(../images/more-image-grey.jpg);
    @include sectionimageboxdarkfull();
    height: unset!important;
}

ul.bright.section_more_box {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 3rem;
    line-height: 1.5em;
    display: inline-block;
}

#section_more_text{
    z-index: 3050;
    display:inline;
}

a.section_more_text {
    text-decoration:underline;
    color:$bright;
}

ul.section_more_text::after, li.section_more_text::after {
    padding-bottom: 15px;
}

a.section_more_text:hover {
    text-decoration:underline;
    color:$lightestblue;
}

h2.section_more_text {
    padding:0px 5px 0 5px;
    text-align: center;
}

// Contact us page section

    #section_form {
        display: block;
        color: $bright;
        width:100%;
    }

    #form_centered {
        padding: 25px 0  25px 12.5%!important;   
    }

    .section_form_image {
        background: url(../images/grey-support-image.jpg);
        @include sectionimageboxdarkfull();
        height: unset!important;
    }

    #section_form_text {
        z-index: 3050;
        display:inline;
    }
    
    h2.section_form_text {
        padding:0px;
    }

    .contact-form {
        padding: 15px 15px;
        margin: 5px 15px;
        background: rgba(255, 255, 255, 0.75);
        border: 1px solid #707070;
        min-height: 400px;
        max-height: fit-content;
        color: $darkgrey;
        font-size: 1rem;
        line-height: 1.025;
        width: 80%;
    }
    
    input.contact-form {
        color: $darkgrey;
        font-size: 1rem;
        line-height: 1.025;
    }

    .contact-form label, legend {
        color: $darkgrey;
        font-size: 1rem;
        line-height: 1.025;   
    }

    .contact-form fieldset {
        border: 1px solid $lightgrey;  
        border-top: 1px solid $lightgrey!important;
        padding: 5px;
    }
    
    .contact-form legend {
        padding: 10px;  
        background-color: $bright;
        color: $darkteal;
        width: 80%!important;
    }
    
    input.submit_button {
        border: 1px solid $teal;
        background-color: $darkteal;
        color: $bright;
        border-radius: 3px;
        padding: 5px;
        -webkit-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.16);
        box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.16);
    }

    input.submit_button:hover {
        border: 1px solid $darkteal;
        background-color: $teal;
        color: $bright;
        border-radius: 3px;
        padding: 5px;
        -webkit-box-shadow: 0px 4px 3px 2px rgba(255,255,255,0.16);
        -moz-box-shadow: 0px 4px 3px 2px rgba(255,255,255,0.16);
        box-shadow: 0px 4px 3px 2px rgba(255,255,255,0.16);
    }

    input.submit_button:active {
        border: 1px solid $teal;
        background-color: $bright;
        color: $darkteal;
        border-radius: 3px;
        padding: 5px;
        -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.16);
        -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.16);
        box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.16);
    }

//The content boxes are the large boxes with info on the first page

.hcentered { //to horizontally center ul or other block in a div col-6, not text-centered
    padding-left: 33%;
    padding-right: 33%;
}

ul.bright.contentbox {
    list-style-type: none;
    list-style-position: outside;
    padding-top: 3.5rem;
    line-height: 1.5em;
    word-spacing: 0.25rem;
    display: inline-block;
}

h2.contentbox,h3.contentbox,h4.contentbox {
    padding: 5rem 5px 0 5px;
    text-align: center;
}

p.contentbox {
    padding: 0 2vw; //2% of the viewers width;
    padding-top: 3rem;
    text-align: center;
    line-height: 3em;
    word-spacing: 0.25rem;
}


// hiding the small device responsive sections

#section_two_resp {
    display:none;
}

#section_three_resp {
    display:none;
}

#section_four_resp {
    display:none;
}

/* _______ This is the footer section ________ */

footer {
    clear: both;
    height: 60px;
    padding: 40px 0 0 0;
    border-top: 1px solid black;
    background-color: $footercolor;
    color: #ffffff;
    font-weight: 300;
    font-size: 0.80em;
    width:100%;
    left:0;
    position:absolute;
    bottom:0;
    display:block;
    text-align: center;
    //this next code is from a box shadow generator at https://www.cssmatic.com/box-shadow
    -webkit-box-shadow: 0px -8px 5px -1px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -8px 5px -1px rgba(0,0,0,0.16);
    box-shadow: 0px -8px 5px -1px rgba(0,0,0,0.16);
    overflow:hidden;
    box-sizing: border-box;
}

footer  a{
    color: $bright;
    text-decoration-line: underline;
    }

footer a:hover {
    color: $darkteal;
    text-decoration-line: none;
    }

/* Contact us section */


/* ____________ This is the responsive media query section ____________ */

/* Extra large devices */
@media (min-width: 1200px) and (max-width: 1920px) { 
    .container {
        width:100%;
        max-width: 1920px;
    }
    .hero_image1 {
        background: url(../images/hero-image1.jpg);
        @include hero-large();
    }
    
    .hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-large();
    }
    
    .hero_image3 {
         background: url(../images/hero-image3.jpg);
        @include hero-large();
    }
    
    .hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-large();
    }
    
    .hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-large();
    }
 }

 /* Large devices */
@media (min-width:992px) and (max-width: 1200px) {    

    .container {
        width:100%;
        max-width: 1200px;
    }
     
    .hero_image1 {
        background: url(../images/hero-image1.jpg);
        @include hero-large();
    }

    .hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-large();
    }

    .hero_image3 {
        background: url(../images/hero-image3.jpg);
        @include hero-large();
    }

    .hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-large();
    }

    .hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-large();
    }

    p {
        font-size: 1rem;
    }
 }

/* Medium devices */
@media (min-width: 800px) and (max-width: 991px) { 

    #hero {
        margin-bottom: 0!important;
        height: 250px!important;
        overflow: hidden;
    }

    .hero-title div, .hero-title h1{
        height: 35px;
        background-color: $transparent-bk;
        animation: flyIn 3s;
        animation-delay: 1s;
        backdrop-filter: blur(15px);
        --webkit-backdrop-filter: blur(15px);
    }

    .menu div {
        text-align: right;
        float: none!important;
        clear:both;
        }

    #navigation {
        min-width: 70px;
        width: 100%;
        right: 0;
        vertical-align: bottom;
        text-align: right;
        align-items: baseline;
        height: 21px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 14pt;
        padding: 21px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .entry-title h1 {
        font-size: 1.5rem;
    }

    .container {
        width:100%;
        max-width: 991px;
    }

    .hero_image1 {
        background: url(../images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(../images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-medium();
    }

    #hero-text-position {
        vertical-align: bottom;
        padding-bottom: 20px;
        padding-top: 90px;
        max-width: 85%;
    }

    .hero-title div, .hero-title h1{
        height: 25px;
        background-color: $transparent-bk;
        animation: flyIn 3s;
        animation-delay: 1s;
        backdrop-filter: blur(15px);
        --webkit-backdrop-filter: blur(15px);
    }

    .hero-title h1 {
        color: $darkblue;
        font-size: 1.8rem;
        font-family: Gill Sans;
        font-style: italic;
        padding: 15px 15px 25px 50px;
        margin: 20px;     
        //this next code is modified by myself here but originally taken from a text shadow generator at https://html-css-js.com/css/generator/text-shadow/
        text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
    }

    h2.contentbox, h3.contentbox, h4.contentbox {
        padding: 5rem 5px 0 5px!important;
        text-align: center;
    }
    p.contentbox {
        padding: 0 2vw;
        padding-top: 0rem!important;
        text-align: center;
        line-height: 3em;
        word-spacing: 0.25rem;
    }

 }

/* Small devices */
@media (min-width: 451px) and (max-width: 799px){


    .entry-title h1 {
        font-size: 1.2rem;
        padding: 25px;
    }

    .entry-title p {
        padding: 25px;  
    }

    #menu div {
        float:none;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
        z-index:99999;
    }

    #menu_section {
        text-align: center;
    }

    .container {
        width:100%;
        max-width: 767px;
    }

    .hero_image1 {
        background: url(../images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(../images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-medium();
    }

    #hero {
        @include hero-medium();
    }

    #hero-text-position {
        vertical-align: bottom;
        padding-bottom: 10px;
        padding-top: 120px;
        max-width: 85%;
    }
    
    .hero-title div, .hero-title h1{
        height: 30px;
        background-color: $transparent-bk;
        animation: flyIn 3s;
        animation-delay: 1s;
    }
    
    .hero-title h1 {
        color: $darkblue;
        font-size: 1.2rem;
        font-family: Gill Sans;
        font-style: italic;
        padding: 15px 15px  15px 50px;
        margin:20px;
        //this next code is modified by myself here but originally taken from a text shadow generator at https://html-css-js.com/css/generator/text-shadow/
        text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
    }
    

    #navigation {
        clear:both;
        float:none;
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 14px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 10pt;
        padding: 16px;
        white-space: nowrap;
        font-weight: 400;
        z-index: 99999;
    }

    #navigation a {
        padding: 0 5px 14px 5px;
        text-decoration: none;
        color: $grey;
        z-index: 99999;
    }

    #navigation::after, nav::before {
        box-sizing: unset !important;
    }

    #navigation a:hover {
        padding: 0 5px 14px 5px;
        text-decoration: none;
        color: $teal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #navigation a:active, .active {
        padding: 0 5px 14px 5px;
        text-decoration: none;
        color: $teal;
        z-index: 99999;
    }

    #navigation a:active:hover, .active:hover {
        padding: 0 5px 14px 5px;
        text-decoration: none;
        color: $darkteal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #logo_section {
        padding-top: 0!important;
    }

    .logo img{
        float: left;
        height: 70px;
        width: auto;
        padding-bottom: 5px;
        z-index: 999999;
    }

    /* content styles */

    h1 {
        color: $darkteal;
        font-size: 1em;
    }

    h2 {
        color: $bright;
        font-size: 1em;
    }

    h3 {
        color: $darkgrey;
        font-size: 1em;
    }

    h4 {
        color: $darkteal;
        font-size: 1em;
    }

    h5 {
        color: $bright;
        font-size: 1em;
    }

    h6 {
        color: $darkgrey;
        font-size: 1em;
    }
        
    p.contentbox {
        font-size: 0.75rem;
        word-spacing: 0rem;
        line-height: 1.5;
        padding-left: 5px;
        padding-right: 5px;

    }
    
    h2.contentbox,h3.contentbox,h4.contentbox {
        font-size: 1rem;
        padding: 2rem 5px 0 5px;
        text-align: center;
    }

    ul.contentbox {
        list-style-type: none;
        list-style-position: outside;
        padding-top: 1rem !important;
        margin-left: 0px;
        line-height: 2em !important;
        word-spacing: 0.25rem !important;
        font-size: 0.75rem !important;
        -webkit-padding-start: 0px !important;
        padding-inline-start: 20px !important;
    }
}

/* Smaller devices */
@media (min-width: 350px) and (max-width: 450px){

    #menu div {
    clear:both!important;
    height: 40px;
    vertical-align: bottom;
    text-align: center!important;
    }

    #menu_section {
        text-align: center!important;
        width:100%;
    }

    #navigation {
        clear: both;
        min-width: 60px;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 14px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 9pt;
        white-space: nowrap;
        font-weight: 400;
        z-index: 99999;
        margin-bottom:0;
        white-space: nowrap;
    }

    #navigation a {
        padding: 5px 10px;
        text-decoration: none;
        color: $grey;
        z-index: 99999;
    }

    #navigation::after, nav::before {
        box-sizing: unset !important;
    }

    #navigation a:hover {
        padding: 5px 10px;
        text-decoration: none;
        color: $teal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #navigation a:active, .active {
        padding: 5px 10px;
        text-decoration: none;
        color: $teal;
        z-index: 99999;
    }

    #navigation a:active:hover,
    .active:hover {
        padding: 5px 10px;
        text-decoration: none;
        color: $darkteal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #logo_section {
        padding: 0px;
        width:100%;
        text-align:center;
    }

    .logo img {
        float: none !important;
        clear:both;
        height: 75px;
        width: auto;
    }

    #hero-text-position {
        vertical-align: bottom;
        padding-bottom: 10px;
        padding-top: 250px;
        max-width: 95%;
    }

    .hero-title h1 {
        color: $darkblue;
        font-size: 0.9rem;
        font-family: Gill Sans;
        font-style: italic;
        padding: 15px 15px 15px 20px;
        margin: 10px;
        //this next code is modified by myself here but originally taken from a text shadow generator at https://html-css-js.com/css/generator/text-shadow/
        text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
    }
    
    .hero-title div, .hero-title h1{
        height: 15px;
    }

    p.contentbox {
        font-size: 0.70rem;
        word-spacing: unset!important;
        line-height: 1.3;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1rem;

    }
    
    h2.contentbox,h3.contentbox,h4.contentbox {
        font-size: 0.95rem;
        padding: 1rem 2.5px 0 2.5px;
        text-align: center;
    }

    #section_one,#section_two,#section_three,#section_4 {
        min-height: unset!important;
        }

    ul.bright.contentbox{
        list-style-type: none;
        list-style-position: outside;
        padding-top: 0.80rem!important;
        margin-left: 0;
        line-height: 1rem!important;
        word-spacing: 0.25rem!important;
        font-size: 0.80rem!important;
    }   

    .hcentered {
    padding: 0 5px;
    }

}

/* Extra Small devices */
@media (min-width: 150px) and (max-width: 349px){

    h1.entry-title {
        font-size: 1rem;
        margin:0;
        padding: 25px 10px 15px 25px ;
    }
    
    p.entry-paragraph {
        padding: 5px 20px 0 25px;
        font-size: 0.9rem;
        margin-left: 0;
        margin-right: 0 ;
        text-align: justify;
    }

    #menu div {
        float: none!important;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
    }

    #menu_section {
        text-align: center;
        width:100%;
    }

    #navigation {
        clear:both;
        float:none;
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 14px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 8pt;
        padding: 14px;
        white-space: nowrap;
        font-weight: 400;
        z-index: 99999;
    }

    #navigation a {
        padding: 5px 8px;
        text-decoration: none;
        color: $grey;
        z-index: 99999;
    }

    #navigation::after,
    #navigation::before {
        box-sizing: unset !important;
    }

    #navigation a:hover {
        padding: 5px 8px;
        text-decoration: none;
        color: $teal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #navigation a:active,
    .active {
        padding: 5px 8px;
        text-decoration: none;
        color: $teal;
        z-index: 99999;
    }

    #navigation a:active:hover,
    .active:hover {
        padding: 5px 8px;
        text-decoration: none;
        color: $darkteal;
        background-color: $transparent-bk;
        z-index: 99998;
    }

    #logo_section {
        padding-top: 0!important;
        width:100%;
        text-align:center;
    }

    .logo {
        padding:0;
        float:none;
    }

    .logo img {
        float: none;
        clear:both;
        height: 75px;
        width: auto;
    }

    .container {
        width:100%;
        max-width: 349px;
    }

    #hero {
        @include hero-small();
    }

    .hero_image1 {
        background: url(../images/hero-image1.jpg);
        @include hero-small();
    }
    
    .hero_image2 {
        background: url(../images/hero-image2.jpg);
        @include hero-small();
    }
    
    .hero_image3 {
        background: url(../images/hero-image3.jpg);
        @include hero-small();
    }
    
    .hero_image4 {
        background: url(../images/hero-image4.jpg);
        @include hero-small();
    }
    
    .hero_image5 {
        background: url(../images/hero-image5.jpg);
        @include hero-small();
    }

    #hero-text-position {
        vertical-align: bottom;
        padding-bottom: 10px;
        padding-top: 70px;
        max-width: 95%;
    }

    .hero-title h1 {
        color: $darkblue;
        font-size: 0.80rem;
        font-family: Gill Sans;
        font-style: italic;
        padding: 15px 15px 15px 20px;
        margin: 10px;
        //this next code is modified by myself here but originally taken from a text shadow generator at https://html-css-js.com/css/generator/text-shadow/
        text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
    }
    
    .hero-title div, .hero-title h1{
        height: 15px;
    }

    /* content styles */

    h1 {
        color: $darkteal;
        font-size: 1em;
    }

    h2 {
        color: $bright;
        font-size: 1em;
    }

    h3 {
        color: $darkgrey;
        font-size: 1em;
    }

    h4 {
        color: $darkteal;
        font-size: 1em;
    }

    h5 {
        color: $bright;
        font-size: 1em;
    }

    h6 {
        color: $darkgrey;
        font-size: 1em;
    }
        
    p.contentbox {
        font-size: 0.75rem;
        word-spacing: 0;
        line-height: 1.5;
        padding-left: 7px;
        padding-right: 7px;

    }
    
    h2.contentbox,h3.contentbox,h4.contentbox {
        font-size: 1rem;
        padding: 2rem 5px 0 5px;
        text-align: center;
    }

    ul.bright.contentbox {
        list-style-type: none;
        list-style-position: outside;
        padding-top: 3rem;
        margin-left: 20px;
        line-height: 1.8em;
        word-spacing: 0.25rem;
        font-size: 0.75rem;
    }

// resize the iconboxes on first page welcome section

    #iconboxes {
        text-align: center;
        vertical-align: baseline;
        padding-bottom: 50px;
        padding-left: 0;
    }
        
    .intro-box {
        @include large-ibox();
        font-size: 1rem!important;
        margin-left: 15px!important;
    }

    .intro-box i {
        font-size: 5rem!important;
    }

    .intro-box i:hover {
        font-size: 5rem!important;
    }

    // change padding for section one so more centered

    #section_one {
        padding:unset!important;
    }

    
    // hide the sections two through to four on first page and replace with single block

    #section_two {
        display:none;
    }

    #section_three {
        display:none;
    }

    #section_four {
        display:none;
    }

    #section_two_resp {
        display: block;
        color: $bright;
        vertical-align: middle;
        width:100%;
        padding-left:0!important;
        min-height: 200px;
    }

    .section_two_image_resp {
        background: url(../images/anxiety-image-blue.jpg);
        @include sectionimageboxdarkfull(); 
    }

    #section_two_text_resp {
        z-index: 3050;
        display:inline;
        padding: 2% 2.5%;
        align-content: space-around;
        text-align:center;
    }
    
    .section_two_overlay_resp { //This code was taken from my css panel in Adobe XD from the mockup design
        background: transparent;
        /* Note: currently only Safari supports backdrop-filter */
        backdrop-filter: blur(30px);
        --webkit-backdrop-filter: blur(30px);
        background-color: $lightblue;
        /* (plus shape's fill blended on top as a separate layer with 100% opacity) */

    }

    #section_three_resp {
        display: block;
        vertical-align: middle;
        width:100%;
        padding-left:0!important;
        min-height: 200px;
    }

    .section_three_image_resp {
        background: url(../images/get-support-image-beige.jpg);
        @include sectionimageboxdarkfull(); 
        }

    #section_three_text_resp {
        z-index: 3050;
        display:inline;
    }

    #section_four_resp {
        display: block;
        color: $bright;
        width:100%;
        padding-left:0!important;
    }
    .section_four_image_resp {
        background: url(../images/mindfulness-teal.jpg);
        @include sectionimageboxdarkfull(); 
        }

    //main section and footer adjust

    #main {
        height: calc(100% - 35px);
    }

    footer {
        height: 35px;
        font-size: 0.65rem;
        font-weight:300;
        padding-bottom: 5px;
    }
        
}
