/* This is the main section of the website styles */

$grey: #585858;
$teal: #00505c;
$darkteal: #003f49;
$transparent-bk: rgba(255,255,255,0.35);
$bright: #ffffff;
$gold: #b7af8c;
$lightgrey: rgba(183,175,140,255);
$lightgold: #b7af8c50;
$darkgrey: #444444;
$smokeblue: rgba(20, 67, 108, 0.5);
$plaingrey: rgba(88, 88, 88, 0.5);
$lightteal: rgba(0, 80, 92, 0.5);
$lightblue: rgba(34, 85, 129, 0.49);
$lightbeige: rgba(129, 122, 34, 0.24);
$lighterteal:rgba(0, 80, 92, 0.5);


$basefont: 14pt;
$typeface: Verdana, Geneva, Tahoma, sans-serif;

@mixin backblur($bkcolor: rgba(255, 255, 255, 0.15)) {
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: $bkcolor;
    color: $bright
  }

@mixin small-ibox {
    height: 50px;
    width: 50px;
    display: inline-block;
    padding:5px;
    margin:5px;
    }

@mixin medium-ibox {
    height: 80px;
    width: 80px;
    display: inline-block;
    padding:7px;
    margin:7px;
    }

@mixin large-ibox {
    height: 120px;
    width: 120px;
    display: inline-block;
    padding:10px;
    margin:10px;
    }

@mixin hero-large {
    height:350px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
}

@mixin hero-medium {
    height:250px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
}

@mixin hero-small {
    height:150px;
    width:auto;
    background-position: bottom center;
    background-size: cover;
}


*, ::after, ::before {
    box-sizing: unset!important;
}

#main {
    top:0;
    left:0;
    width:100%;
    bottom:0;
    right:0;
    box-sizing:border-box;
    margin:0;
    height: calc(100% - 60px);
    display:block;
    position:absolute;
}

.container {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
    }

.container-fluid {
    width: 100%!important;
    padding-right: unset!important;
    padding-left: unset!important;
    margin-right: unset!important;
    margin-left: unset!important;
    }

html, body {
    font-family: $typeface;
    margin:0;
    padding:0;
    height:100%;
}


h1,h2,h3,h4,h5 {
    font-weight: 800;
    font-style: italic;
    font-stretch: expanded 1.1;
}

h1  {
    color: $darkteal;
    padding: 0;
    margin: 0 5px;
}

h2 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
}

h3 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
}

h4 {
    color: $darkteal;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90rem;
}

h5 {
    color: $bright;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90rem;
}

h6 {
    color: $darkgrey;
    margin: 0 5px;
    padding: 0;
    font-size: 0.90rem;
}



p {
    text-align: justify;
    font-size: 12;
    font-weight: 400;
}

a {
    color: $teal;
}

a:hover {
    color: $grey;
}

/* This is the header and navigation section of the website styles */

header {
    height: 295px;
    background: linear-gradient(#c1e2ff 0%, #fff 11.33%, #fff 27.84%, #ffffd5 78.33%, #fdf991 83.25%, #f2d32a 84.24%, #cbbe73 88.67%, #a3dfff 96.06%, #007f9d 97.54%, #005226 100%);
    border: 1px solid #707070;
    vertical-align: bottom;
    position: relative;
}


.logo {
    float:left;
    height: 75px;
    width: auto;
    padding: 5px;
}

.menu div {
    float: right;
    height: 40px;
    vertical-align: bottom;
}

.menu::after, .menu::before {
    box-sizing: unset!important;
    }

nav {
    min-width: 70px;
    width: auto;
    right: 0;
    vertical-align: bottom;
    text-align: center;
    align-items: baseline;
    height: 16px;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    font-size: 15pt;
    padding: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav a{
    padding: 12px 15px;
    text-decoration:none;
    color: $grey;
}

nav::after, nav::before {
    box-sizing: unset!important;
    }

nav a:hover{
    padding: 12px 15px;
    text-decoration:none;
    color: $teal;
    background-color:$transparent-bk;
}

nav a:active, .active {
    padding: 12px 15px;
    text-decoration:none;
    color: $teal;
}

nav a:active:hover, .active:hover {
    padding: 12px 15px;
    text-decoration:none;
    color: $darkteal;
    background-color:$transparent-bk;
}

/* Hero Image Section */

.hero {
    height: 200px;
    background-color: yellow;
    display:block;
    position: relative;
}

.hero-title {
    width: 410px;
    height: 47px;
    background-color: rgba(255,255,255,0);
    color: navy;
    font-size: 1.2em;
}

.hero_image1 {
    background: url(/assets/images/hero-image1.jpg);
    @include hero-large();
}

.hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
}

.hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
}

.hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
}

.hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
}

/* _____________________ Main Content Section ___________________  */

/* Home Page */

.intro-box {
@include medium-ibox();
}

.content-box {
    min-height: 150px;
    max-height: 250px;
    min-width: 150px;
    max-width: 250px;
    margin: 0;
    padding: 25px;
}

section {
    min-height: 150px;
    height: 15%;
    padding: 0;
    margin: 0;
    width:100%;
}

#index_one {
    background-color: $bright;
    vertical-align: middle;
    width:100%;
}

#index_two {
    background-color: $lightblue;
    vertical-align: middle;
    width:100%;
}

#index_three {
    background-color: $lightbeige;
    width:100%;

}

#index_four {
    background-color: $lighterteal;
    width:100%;
}


/* _______ This is the footer section ________ */

footer {
    clear: both;
    height: 60px;
    padding: 5px 0 0 0;
    border-top: 1px solid black;
    box-shadow: rgba(0,0,0,20) 2px 0px 3px;
    background-color: #b7af8c;
    color: #363545;
    font-weight: 700;
    font-size: 0.75em;
    width:100%;
    left:0;
    position:absolute;
    bottom:0;
    display:block;
}

/* Contact us section */



/* ____________ This is the media query section ____________ */

/* Extra large devices */
@media (min-width: 1200px) and (max-width: 1920px) { 
    .container {
        width:100%;
        max-width: 1920px;
    }
    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-large();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
    }
    
    .hero_image3 {
         background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
    }
 }

 /* Large devices */
@media (min-width:992px) and (max-width: 1200px) {    

    .container {
        width:100%;
        max-width: 1200px;
    }
     
    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-large();
}

    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-large();
    }

    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-large();
    }

    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-large();
    }

    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-large();
    }

    p {
        font-size: 1rem;
    }
 }

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) { 

    .container {
        width:100%;
        max-width: 991px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-medium();
    }
 }

/* Small devices */
@media (min-width: 378px) and (max-width: 767px){

    .menu div {
        float: none!important;
        clear: both;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
    }

    #menu_section {
        text-align: center;
    }

    .container {
        width:100%;
        max-width: 767px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-medium();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-medium();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-medium();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-medium();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-medium();
    }

    nav {
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 16px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 12pt;
        padding: 21px;
        white-space: nowrap;
        font-weight: 700;
    }

    .logo {
        float: none !important;
        clear:both;
        height: 55px;
        width: auto;
        padding: 5px;
    }

    /* content styles */

    h1 {
        color: $darkteal;
        padding: 0;
        margin: 0 5px;
        font-size: 0.85em;
    }

    h2 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.85em;
    }

    h3 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.85em;
    }

    h4 {
        color: $darkteal;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }

    h5 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }

    h6 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }
}

/* Extra Small devices */
@media (min-width: 150px) and (max-width: 377px){

    .menu div {
        float: none;
        clear: both;
        height: 40px;
        vertical-align: bottom;
        text-align: center;
    }

    #menu_section {
        text-align: center;
    }

    nav {
        min-width: 60px;
        width: auto;
        right: 0;
        vertical-align: bottom;
        text-align: center;
        align-items: baseline;
        height: 16px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        font-size: 11pt;
        font-weight:700;
        padding: 21px;
        white-space: nowrap;
    }

    .logo {
        float: none !important;
        clear:both;
        height: 55px;
        width: auto;
        padding: 5px;
    }

    .container {
        width:100%;
        max-width: 377px;
    }

    .hero_image1 {
        background: url(/assets/images/hero-image1.jpg);
        @include hero-small();
    }
    
    .hero_image2 {
        background: url(/assets/images/hero-image2.jpg);
        @include hero-small();
    }
    
    .hero_image3 {
        background: url(/assets/images/hero-image3.jpg);
        @include hero-small();
    }
    
    .hero_image4 {
        background: url(/assets/images/hero-image4.jpg);
        @include hero-small();
    }
    
    .hero_image5 {
        background: url(/assets/images/hero-image5.jpg);
        @include hero-small();
    }

    /* content styles */

    h1 {
        color: $darkteal;
        padding: 0;
        margin: 0 5px;
        font-size: 0.85em;
    }

    h2 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.85em;
    }

    h3 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.85em;
    }

    h4 {
        color: $darkteal;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }

    h5 {
        color: $bright;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }

    h6 {
        color: $darkgrey;
        margin: 0 5px;
        padding: 0;
        font-size: 0.80em;
    }
}
